body{
    background-image: linear-gradient( rgba(8, 92, 50, 0.9), rgba(0, 0, 0, 0.9)), url('../images/background8.jpg');
    background-size:cover;
	background-repeat:no-repeat;
    background-position: center, center;
    color: rgb(88, 88, 88);
    height: 800px;
}
.box{
    height: 400px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 150px;
    padding: 10px;
    border-top: 10px solid rgb(236, 70, 70);
}
button{
    width: 100%;
    border: unset;
    margin-bottom: 30px;
    height: 50px;
    background-color: rgb(99, 99, 99);
    color: white;
    cursor: pointer;
    border-left: 6px solid rgb(104, 122, 226);
    border-radius: 5px;
}

h5{
    color: rgb(236, 70, 70);
    text-transform: uppercase;
}

button:hover{
    opacity: 0.6;
}